service.template
tsconfig.json
.eslintrc.json
dump
src/my.ts
src/my.js
src/archive.js
src/newScripts.js
src/fixSyntaxError.js
src/removeRFP.js
src/test-ts.ts
src/test.js
src/copyPages.js
src/catReplace.js