# This will be at $HOME/service.template, not in the root directory of this repo
service.template

# Log outputs
logs

# User information
src/myinfo.ts
dist/myinfo.js

# Test or draft modules
src/test.ts