# Files for local development envionments
.eslintrc.json

# Config file for when the bot runs on the WMF server
service.template

# User information
src/my.ts
dist/my.js

# Stores source js files ported to ts
dump

# Test or draft modules
src/test.js
dist/test.js
src/test-ts.ts
dist/test-ts.js
src/mwbot.d.ts

# Personal modules
src/archive.js
src/newScripts.js
src/fixSyntaxError.js
src/removeRFP.js
src/copyPages.js
src/catReplace.js